<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- Home link -->
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="#about-me">Homepage</a>
          </li>

          <!-- Loop through your navigation.main entries, just output the title as-is -->
          {% for link in site.data.navigation.main %}
          <li class="masthead__menu-item">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}

        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>


<style>
.language-switch {
  padding: 3px 8px;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 0.9em;
  transition: all 0.3s ease;
}

.language-switch:hover {
  background-color: #e5e5e5;
  text-decoration: none;
}
</style>
